<li>
	<fieldset>
	<legend class="shadow"> <%= debt.name  %> </legend>

		<span>dlžná čiastka: <%= number_to_currency debt.amount %></span>
		<span>splatené: <%= number_to_percentage debt.percento , :precision => 2 %></span>
		<div class="progress">
			<span class="percent"><%= number_to_percentage debt.percento , :precision => 2 %></span>
			<div style="width: <%= number_to_percentage debt.percento , :precision => 1 %>">&nbsp;</div>
		</div>
		<div class="repaid">
			<div style="margin-left: <%= number_to_percentage debt.percento , :precision => 1 %>">
				<%= number_to_currency debt.repaid %>
			</div>
		</div>

		<nav>
			<%= link_to "Uprav", edit_debt_path(debt), :class => 'shadow button'  %>
			<%= link_to "Vymaž", debt_path(debt),
					:method => :delete,
					:data =>{ :confirm => "Chceš to naozaj zmazať?"},
					:class => 'shadow button'  %>
		</nav>
	</fieldset>
</li>