<fieldset>
<legend class="shadow"> Dlh </legend>
<%= form_for @debt do |f| %>
	<ul class="errors">
	<% @debt.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'shadow' %>
  </p>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount, :class => 'shadow' %>
  </p>
  <p>
    <%= f.label :repaid %>
    <%= f.text_field :repaid, :class => 'shadow' %>
  </p>
  <p>
    <%= label_tag :splatka %>
    <%= text_field_tag :splatka, nil, :class => 'shadow' %>
  </p>
  <nav>
    <%= f.submit "Uložiť", :class => 'shadow button' %>&nbsp;<%= link_to "Späť", debts_path, :class => 'shadow button' %>
  </nav>
<% end %>
</fieldset>