* {
  margin: 0;
  padding: 0;
}
body {
  font-family: verdana, sans-serif;
  font-size: 16px;
  background: #eeeeee;
  color: darken(#fff, 85);
}
a {
  color: blue;
}
.container {
  width: 920px;
  margin: 20px auto;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px silver;

  .header {
    border-bottom: 10px solid silver;
    padding-bottom: 20px;
    margin-bottom: 40px;
    color: gray;
    h1 {
      font-size: 35px;
      a {
        color: darken(gray, 20);
        text-decoration: none;
      }
    }
  }
  h2 {
    font-size: 27px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    line-height: 150%;
    margin-bottom: 15px;
  }
  ul{
  	margin-top: 15px;
  	li{
  		list-style: none;
  		padding:20px;
  	}
  }

  .clear {
    clear: both;
  }
  .right-side {
    width: 240px;
    float: right;
    ul {
      margin-left: 30px;
      margin-bottom: 20px;
      li {
        list-style-type: square;
        line-height: 150%;
      }
    }
  }
  .left-side {
    width: 630px;
    float: left;
    border-right: 2px dotted silver;
    padding-right: 20px;
  }
  .shadow{
		background: #F5F6F9;
		border-radius: 5px;
		font-style: italic;
		border: 1px solid #B7BDC7;
		box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.10);
		-moz-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.10);
		-webkit-box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.10);
		color: #666;
		font-size: 13px;
		padding: 5px;
		margin: 2px;
  }
	.button{
		text-decoration: none;
		width: 80px;
		display: inline-block;
		text-align: center;
	}
	.button:hover{
		box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.10);
		-moz-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.10);
		-webkit-box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.10);
		font-weight: bold;
	}
	fieldset{
	  background:#eee;
	  border-radius: 10px;
	  padding: 20px;
	  border: 1px dotted lightgrey;
	  box-shadow: 1px 1px 2px grey;
	  overflow: hidden;
	  legend.shadow{
			padding-left: 30px;
			padding-right: 30px;
			position: absolute;
			margin-top: -35px;
	  }
		label{
			line-height: 2.0em;
			font-size: 12px;
			font-style: italic;
			float: left;
			text-align: right;
			width: 100px;
			margin-right: 20px;
		}
		nav{
			border-top: 1px dotted lightgrey;
			padding-top: 10px;
			padding-left: 75px;
		}
		.field_with_errors, .errors{
			color: red;
		}
		ul.errors li{
		  border-radius: 0px;
		  box-shadow: 0 0 0px silver;
		  background: #FFEFCC;
		  margin: 5px 102px;
		  overflow: hidden;
		  list-style: none;
		  padding: 3px 20px;
		}
		.progress{
			height: 40px;  /* Can be anything */
			position: relative;
			background: #F5F6F9;
			border: 1px solid #B7BDC7;
			overflow: hidden;

			span{
				position: absolute;
				top: 30%;
				left: 50%;
				z-index: 1;
			}
			div {
				display: block;
				height: 100%;
				top:0px;
				background-color: rgb(43,194,83);
				position: absolute;
				overflow: hidden;
			}
		}
		.repaid >	div{
			border-left: 3px solid #B7BDC7;
			padding: 3px;
			margin-bottom: 10px;
		}
	}
}
.footer{
  width: 920px;
  margin: 20px auto;
  padding: 10px;
  text-align: right;
  color: #aaa;
  font-style: italic;
}

