<!DOCTYPE html>
<html>
<head>
  <title>Debt Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <div class="header">
    <h1><%= link_to "Manažment dlhov", root_path %> &mdash; 16.deň learn2code úloha</h1>
  </div>
	<%= yield %>
  <div class="clear"></div>
</div>
<div class="footer">learn2code :werdyii </div>

</body>
</html>
